.section {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  width: 90vw;
  height: fit-content;
  padding: 0;
  margin-top: 0.5rem;
  margin-bottom: 3rem;
}

@media screen and (min-width: 700px) {

  .section {
    width: 50vw;
  }
}

/* SECTION
**
** Definieras som CSS klass
**
** width: [värde] - sätt bredden på elementet till det angivna värdet till höger
** vw står för view port width, det vill säga bredden på webbläsarens synliga fält
** till exempel, 90vw är lika med 90% av bredden på det synliga fältet
** height: fit-content - anpassa höjden till innehållet
** display: flex - gör container flexibel/responsiv (justerar innehållet automatiskt)
** justify-content: center - centrera containerns innehåll horisontellt
** align-items: center - centrera containerns innehåll vertikalt
** padding: 0 - ta bort utrymmet kring innehållet
** margin-top: 0.5rem - sätt marginalen längst upp till 0.5 delar av standardtextstorleken
** (finns definierad i root.css under :root
** margin-bottom: 3rem - sätt marginalen längst ner till 3rem (3.0 delar av standardtextstorleken)
** @media screen and (min-width: 700px) {} - CSS reglerna gäller enbart för alla skärmar 
** där bredden är lika med minst 700 pixlar (gäller desktop, tablets samt mobiler i liggande orientering)
*/